<div class ="container">
    <table class="table">
    <thead>
        <tr>
            <td id="title_column"><div id="title">RapiData</div></td>
           
                <td >
                  <div class="search-bar">
                    <input type="search" class="form-control" id="search_box" placeholder="Type keyword to start searching">
                  </div>
                </td>
                <td>
                    <div class="search-bar">
                        <a href="#">
                            <div id="">
                                <button type="button" class="btn btn-info btn-sm " id="clear_last_tag" >Clear Tag</button>
                            </div>
                        </a>
                     </div>
                </td>
            
                <td>
                <div class="search-bar">
                  <div id="ajax_loader"><%= image_tag "ajax-loader.gif" %></div>
                </div>
                </td>
               
            
        </tr>
    </thead>
    </table>
    <hr>
    <div class = "container">
        <div id = "tag-cloud">
            <div class ="clear"></div>
        </div>
    </div>
    <hr>
    <h3>Search Results:</h3>
    <p></p>
    <div class ="container" id="search_result"></div>
</div>  
