<div class ="container">
    <div class="row header">
        <div class="col-md-2 title_column">
            <div id="title">RapiData</div>
        </div>
        <div class="col-md-7">
            <div id="search-bar">
                <input type="search" class="form-control" id="search_box" placeholder="Enter keywords to search, ex. 12, research">
            </div>
        </div>
        <div class="col-md-3">
            <a href="#" >
                <div id ="clear-tag-button-placeholder">                
                    <button type="button" class="btn btn-default" id="clear_last_tag">
                        Clear
                    </button>
                </div>
            </a>
            <div id="ajax-placeholder">
                <div id="ajax_loader"><%= image_tag "ajax-loader.gif" %></div>
            </div>
        </div>                         
    </div>
    <hr>
    <div class = "container">
        <div id = "tag-cloud">
            <div id="no_matching_tags">
                       No matching datasets. Please try other search terms.
            </div>
            <div class ="clear"></div>
        </div>
    </div>
    <hr>
    <h3>Search Results:</h3>
    <p></p>
    <div class ="container" id="search_result"></div>
</div>