<div class ="container">
	    <div class="row header">
	        <div class="col-md-2" id="rapid">
	            Rapidata
	        </div>
	        <div class="col-md-8">
	            <input type="search" class="form-control" id="search_box" placeholder="Search">
	        </div>
	    </div>
	<p></p>
	<div class = "container">
	  	<div id = "tag-cloud">
	       	<div class ="tags_val">Nothing loaded yet</div>
	       	<div class ="clear"></div>
	   	</div>
	</div>
	<p></p>
	<h3>Search Results:</h3>
	<p></p>
	<div class ="container" id="search_result"></div>
</div>  
