.search_head
{
    font-size:20px;
    color:#0000ff;
    clear:both;
} 
.search-bar{
  margin-top:6px;
}
.header
{
    margin:10px;
}
.search_desc
{
    font-size:13px;
    color:#000000;
} 
#title{
  font-size:30px;
}
#title_column{
  width:20%;
}
.tag
{
    font-size:17px;
    color:#00000f;
}
#tag-cloud {
    width: 100%;
    font: 100% Arial, sans-serif;
    line-height: 1.5;
    padding:10px; 
}

#tag-cloud .tags_val {
  text-transform: lowercase;
  text-decoration: none;
  padding: 0 1em;
  font-size:21px;
  position:relative;
  float:left;
  border:1px solid #a1a1a1;
  border-radius:3px;
  margin:5px;
}
.search_listing {
    margin:5px;
    padding:2px;
}
.btn
{
    margin:5px;
}
.clear
{
    clear: both;
}

