.search_head
{
    font-size:20px;
    color:#0000ff;
    clear:both;
    line-height:1.2em;
} 
#search-bar{
  margin-top:5px;
  margin-bottom:5px;
}
.header
{
    margin:10px;
}
.search_desc
{
    font-size:13px;
    color:#000000;
} 
#title{
  font-size:30px;
  margin-top:12px;
  padding-bottom:7px;
}
#title_column{
  width:20%;
}
.tag
{
    font-size:17px;
    color:#00000f;
}
#tag-cloud {
    width: 100%;
    font: 100% Arial, sans-serif;
    line-height: 1.5;
    padding:10px; 
}

#tag-cloud .tags_val {
  padding: 0 1em;
  font-size:21px;
  position:relative;
  float:left;
  border:1px solid #a1a1a1;
  border-radius:3px;
  margin:5px;
}
.search_listing {
    margin:5px;
    padding:2px;
}
.btn
{
    margin:5px;
}
.clear
{
    clear: both;
}
.download_text{
  font-size:13px;
  margin-top:7px;
}
#ajax-placeholder
{ 
    float:left;
    margin:5px 5px 5px 20px;
}
#clear-tag-button-placeholder
{ 
    width:100px;
    float:left;
}
#no_matching_tags
{
    font: 100% Arial, sans-serif;
    color:#999999;
    font-size:20px;
    margin:0 auto;
    text-align:center;
}